*{
  box-sizing:border-box;
  margin:0;
  padding:0;

}
.color-nav{
        background-color: rgb(29,63,148);
        font:Times; 
        

}
.color-nav-hover{
  color: rgb(234, 250, 7)

}
.container-emp-profile{
  border:1px solid black;
  height: 500px;
  width: 500px;
  display:flex;
  justify-content:center;

}
.col-md-6{
  display:flex;
  justify-content:center;
  color:blue;
  size: 13;

}
.col-md-6{
  display:flex;
  justify-content:left;
  color:blue;
  border: 5px solid;

}